<div class="contentArea">
    <h3>@Title</h3>
    <textarea rows="5" class="form-control" readonly>
    @if (Content.Any())
    {
        foreach (string line in Content)
        {
            var newLine = line + "\n";
            @newLine
        }
    }    
</textarea>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "Undefined";

    [Parameter]
    public List<string> Content { get; set; }

}