@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body

            <footer>
                This tool has been developed by <a target="_blank" href="https://cit.gg/?action=profile;u=41102">Ptole</a>
            </footer>
        </div>
    </div>
</div>